<%= form_tag("/answers", method: 'post', id: 'intake-survey') do %>
  <h4 class="survey-question"><%= @question_text %> <i class="fa fa-question-circle"></i></h4>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'public', @answer_text == 'public', class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Public', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'private', @answer_text == 'private', class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Private', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'no_preference', @answer_text == 'no_preference', class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <input type="hidden" name="question_id" value="1" />
  <%= button_tag('Continue', type: 'submit', class: 'btn register-button margin-top-50px margin-bottom-75px') %>
<% end %>