<%= form_tag("/answers/#{@green_rectangles_count}", method: 'post', id: 'intake-survey') do %>
  <h4 class="survey-question"><%= @question_text %></h4>
  <p>Click here to view a map of US regions</p>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'northeast', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Northeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'midwest', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Midwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'southeast', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Southeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'southwest', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Southwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'west', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'West', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag @green_rectangles_count, 'no_preference', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>