<%= form_tag("/answers", method: 'post', id: 'intake-survey-2', class: 'intake-survey') do %>
  <h4 class="survey-question"><%= @qna[:question_text] %></h4>
  <p>Click here to view a map of US regions</p>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'northeast', true, @qna[:answer].include?('northeast'), class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Northeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'midwest', true, @qna[:answer].include?('midwest'), class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Midwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'southeast', true, @qna[:answer].include?('southeast'), class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Southeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'southwest', true, @qna[:answer].include?('southwest'), class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Southwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'west', true, @qna[:answer].include?('west'), class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'West', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'no_preference', true, @qna[:answer].include?('no_preference'), class: 'form-check-input no-location-preference' %>
    <%= label_tag(@qna[:id], 'No preference (selecting this will disable other options)', class: 'form-text') %>
  </div>
  <hr>
  <p class="form-error">Please select at least one of the choices above.</p>
  <input type="hidden" name="question_id" value="2" />
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <a href='/survey/1'>
      <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    </a>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>