<%= form_tag("/answers", method: 'post', id: 'intake-survey-5', class: 'intake-survey') do %>
  <h4 class="survey-question"><%= @qna[:question_text] %></h4>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group margin-bottom-100px">
        <input list="majors" name="5" class="form-control" value="<%= @qna[:answer] %>" id="major-selection"/>
      </div>
    </div>

    <datalist id="majors">
      <option value="No preference">
      <option value="Agriculture and natural resources (e.g. geology)">
      <option value="Architecture">
      <option value="Area, ethnic, cultural, gender, and group studies">
      <option value="Biological and biomedical sciences">
      <option value="Communication, journalism, and related programs">
      <option value="Computer and information sciences">
      <option value="Education">
      <option value="Engineering">
      <option value="English language and literature/letters">
      <option value="Foreign languages, literatures, and linguistics">
      <option value="Health/Medical professions">
      <option value="Legal professions and studies">
      <option value="Liberal arts and sciences, general studies, and humanities">
      <option value="Mathematics and statistics">
      <option value="Multi/interdisciplinary studies">
      <option value="Parks, recreation, leisure, and fitness studies">
      <option value="Philosophy and religious studies">
      <option value="Physical sciences and science technologies">
      <option value="Psychology">
      <option value="Social sciences and history">
      <option value="Theology and religious vocations">
      <option value="Visual and performing arts">
      <option value="Other">
    </datalist>
  </div>

  <p class="form-error">Please input a desired major, or "No preference".</p>
  <input type="hidden" name="question_id" value="5" />
  <div class="buttons-row margin-top-50px margin-bottom-25vh">
    <a href='/survey/4'>
      <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    </a>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>
<% end %>