<%= form_tag("/answers", method: 'post', id: 'intake-survey') do %>
  <h4 class="survey-question"><%= @question_text %></h4>
  <p>Click here to view a map of US regions</p>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'northeast', true, @answer_set.include?('northeast'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Northeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'midwest', true, @answer_set.include?('midwest'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Midwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'southeast', true, @answer_set.include?('southeast'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Southeast', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'southwest', true, @answer_set.include?('southwest'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Southwest', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'west', true, @answer_set.include?('west'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'West', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= check_box_tag 'no_preference', true, @answer_set.include?('no_preference'), class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <input type="hidden" name="question_id" value="2" />
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <a href='/survey/1'>
      <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    </a>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>