<%= form_tag("/answers/#{@green_rectangles_count}", method: 'post', id: 'intake-survey') do %>
  <h4 class="survey-question"><%= @question_text %></h4>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'highly_diverse', true, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Highly diverse with many international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'somewhat_diverse', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Somewhat diverse with international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'less_diverse', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Less diverse with fewer international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'no_preference', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>