<%= form_tag("/answers", method: 'post', id: 'intake-survey') do %>
  <h4 class="survey-question"><%= @question_text %></h4>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'Top 25', true, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Top 25', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'Top 50', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Top 50', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'Top 100', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'Top 100', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @green_rectangles_count, 'No preference', false, class: 'form-check-input' %>
    <%= label_tag(@green_rectangles_count, 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <input type="hidden" name="question_id" value="3" />
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <a href='/survey/2'>
      <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    </a>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>