<%= form_tag("/answers", method: 'post', id: 'intake-survey-4', class: 'intake-survey') do %>
  <h4 class="survey-question"><%= @qna[:question_text] %></h4>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @qna[:id], 'highly_diverse', @qna[:answer] == 'highly_diverse', class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Highly diverse with many international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @qna[:id], 'somewhat_diverse', @qna[:answer] == 'somewhat_diverse', class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Somewhat diverse with international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @qna[:id], 'less_diverse', @qna[:answer] == 'less_diverse', class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'Less diverse with fewer international students', class: 'form-text') %>
  </div>
  <hr>
  <div class="form-check form-radio">
    <%= radio_button_tag @qna[:id], 'no_preference', @qna[:answer] == 'no_preference', class: 'form-check-input' %>
    <%= label_tag(@qna[:id], 'No preference', class: 'form-text') %>
  </div>
  <hr>
  <p class="form-error">Please select one of the choices above.</p>
  <input type="hidden" name="question_id" value="4" />
  <div class="buttons-row margin-top-50px margin-bottom-75px">
    <a href='/survey/3'>
      <%= button_tag('Back', type: 'button', class: 'btn register-button-clear margin-right-10px') %>
    </a>
    <%= button_tag('Continue', type: 'submit', class: 'btn register-button') %>
  </div>

<% end %>