<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div align="center">
      <h3 class="login-header">Welcome back!</h3>
      <h4 class="login-description">Log in with your email address.</br>Are you an advisor? Use <a href="<%= new_expert_session_path %>">our expert portal</a>.</h4>
    </div>
  </div>

  <div class="col-xs-12 login-spacer">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <%= f.hidden_field :remember_me, value: true %>
      <% end %>

      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.submit "Join Us", class: "btn btn-block register-button" %>
        </div>
      </div>

      <%- if devise_mapping.recoverable? %>
        <p align="center" class="mini-text already-have-account">Forgot your password? <%= link_to "Click here", new_password_path(resource_name) %> to reset.</p>
      <% end %>
    <% end %>
  </div>
</div>
