<%= render 'shared/errors', obj: @user %>

<div class='row'>
  <div class="container">
    <div class="col-xs-12">
      <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-4">
            <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.email_field :email, class: "form-control", placeholder: "Email address" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.text_field :phone_number, class: "form-control", placeholder: @user.is_expert ? "Phone number" : "Phone number (optional)" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-sm-offset-4">
            <%= f.label :time_zone, 'Timezone' %>
            <%= f.time_zone_select :time_zone, nil, { include_blank: true }, { class: 'form-control' } %>
          </div>
          <div class="col-sm-1"><small>Why do I need to select my timezone?</small></div>
        </div>

        <% if @user.is_expert %>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.text_field :university, class: 'form-control', placeholder: "University" %>
            </div>
            <%= f.hidden_field :is_expert, value: true %>
          </div>
        <% else %>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.label :time_zone, 'Parent or guardian contact' %>
              <%= f.text_field :guardian_email, class: "form-control", placeholder: "Email address" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
              <%= f.text_field :guardian_phone, class: "form-control", placeholder: "Phone number (optional)" %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <div>By clicking <%= @user.is_expert ? 'Join Us' : 'Sign Up' %>, I agree to the Terms of Use and Privacy Policy.</div>
            <br/>
            <%= f.submit(if @user.new_record?
                           @user.is_expert ? 'Join Us' : 'Sign Up'
                         else
                           "Update your account"
                         end, class: "btn btn-primary btn-lg btn-block") %>
          </div>
        </div>

        <div align="center">Already have an account? <a href="/login">Log in</a>.</div>
    <% end %>
    </div>
  </div>
</div>
