<div class="jumbotron overlay">

<!-- Navigation -->
<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Winston", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="row jumbotron-section">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <h2 id="sign_up_header">Introducing Winston, your personal <br>
    educational concierge</h2>
      <p>Winston connects students with experts all around the world <br>
        for help in navigating all of the most important education <br>
        decisions</p>
      <%= link_to "SIGN UP NOW", signup_path, class: "btn btn-small outside-btn" %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>


<div class="what-we-do-section">
  <div class="center">
    <h3><b>What We Do</b></h3>
    <p>Whether you're looking for help with applications, deciding between universities, or figuring out where to live</p>
    <p>and what classes to take, Winston was created for you.</p>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="what-we-do-container">
        <h4><i class="green fas fa-hands-helping"></i> Guidance</h4>
        <p>Get assistance, no matter what stage you're at, from our carefully <br>
          vetted experts- all current students, alumni, or former <br>
          admissions counselors from top universities</p>
      </div>

      <div class="what-we-do-container">
        <h4><i class="green fas fa-pen-fancy"></i> Application</h4>
        <p>Not feeling too confident with an essay or a personal statement? <br>
        Let our experts take a second look. Or a third. Or a fourth. Let's <br>
        get it right, together.</p>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="what-we-do-container">
        <h4><i class="green fas fa-search"></i> Discovery</h4>
        <p>Let us help you find the right higher education institution for you<br>
        not what a ranking list says</p>
      </div>

      <div class="what-we-do-container">
        <h4><i class="green fas fa-question"></i> Ask Anything</h4>
        <p>Navigating the college admissions process can be complicated.<br>
        Winston makes it simple enpowering students to make<br>
        decisions on every topic.</p>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="how-it-works">
  <div class="how-it-works-subheaders center">
    <h3>How it works</h3>
    <p>Get connected with an expert in three quick, easy steps, no matter where you are</p>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="how-it-works-step col-sm-3">
      <h4>Tell us about you</h4>
      <p>Answer a few questions about yourself to help <br>
        Winston create a personalized experience
      </p>
    </div>

    <div class="how-it-works-step col-sm-3">
      <h4>Choose an advisor</h4>
      <p>Select an advisor from customized list of experts,<br>
        handpicked especially for you by Winston
      </p>
    </div>

    <div class="how-it-works-step col-sm-3">
      <h4>Get your questions answered</h4>
      <p>Attend your remote expert advising session,<br>
        all details coordinated by Winston
      </p>
    </div>
    <div class="col-sm-2"></div>
  </div>

</div>

<div class="what-students-are-saying">
  <p>See how Winston can help</p>
  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>

  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>

  <div class="student-testimonial">
    <p class="student-quote">
      "Winston helped me build the confidence I was lacking. I would never
      have made it into Stanford without my advisor's help. They made the progress
      so easy and simple."
    </p>
    <!-- <img src=""> -->
    <p>Choodry C</p>
    <p>Student, Delhi</p>
  </div>
</div>

<div class="flexible-offerings">
  <p>Whether you're looking for some quick advice on 1-on-1 counseling relationship, Winston has many options to meet your needs</p>
  <p>Sign up now to receive a customized quote or contact us to learn more</p>
  <%= link_to "SIGN UP NOW", signup_path, class: "btn btn-small btn-primary outside-btn" %>
  <!-- <img src=""> large woman image-->
</div>

<div class="get-started-today">
  <p>Let Winston help you create a better, brighter future</p>
  <%= link_to "SCHEDULE YOUR FIRST CALL", signup_path, class: "btn btn-lg btn-primary outside-btn" %>
</div>
