<div class="jumbotron jumbotron-fluid landing-page-hero white">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <span class="navbar-brand logo">
        <i class="fa fa-graduation-cap"></i>Winston
      </span>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-primary transparent-button nav-button hover-navy" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LOG IN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarLoginDropdown">
              <%= link_to "I'm a student", new_student_session_path, class: "primary-color" %>
              <div class="dropdown-divider"></div>
              <%= link_to "I'm an expert", new_expert_session_path, class: "primary-color" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-success nav-button hover-navy" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SIGN UP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "I'm a student", new_student_registration_path, class: "primary-color" %>
              <div class="dropdown-divider"></div>
              <%= link_to "I'm an expert", new_expert_registration_path, class: "primary-color" %>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>

  <div class="container">
    <h1 id="sign-up-header">Introducing Winston, your personal educational concierge</h1>
    <div class="sign-up-content">
      Winston connects students with experts all around the world for help in navigating all of the most important education decisions
    </div>
    <%= link_to "SIGN UP NOW", new_student_registration_path, class: "btn btn-success hover-navy" %>
  </div>
</div>

<div class="how-it-works">
  <div class="subheaders">
    <h3 class="section-titles white">How it works</h3>
    <p class="section-text white">Get connected with an expert in three quick, easy steps, no matter where you are</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="how-it-works-step col-sm-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x white"></i>
          <i class="fa fa-user-edit fa-stack-1x marine-blue"></i>
        </span>
        <h4>Tell us about you</h4>
        <p>Answer a few questions about yourself to help <br>
          Winston create a personalized experience
        </p>
      </div>

      <div class="how-it-works-step col-sm-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x white"></i>
          <i class="fa fa-users fa-stack-1x marine-blue"></i>
        </span>
        <h4>Choose an advisor</h4>
        <p>Select an advisor from customized list of experts,<br>
          handpicked especially for you by Winston
        </p>
      </div>

      <div class="how-it-works-step col-sm-4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x white"></i>
          <i class="fa fa-video fa-stack-1x marine-blue"></i>
        </span>
        <h4>Get your questions answered</h4>
        <p>Attend your remote expert advising session,<br>
          all details coordinated by Winston
        </p>
      </div>
    </div>
  </div>
</div>


<div class="what-we-do-section">
  <div class="subheaders">
    <h3 class="section-titles">What we do</h3>
    <p class="section-text">Whether you're looking for help with applications, deciding between universities, or figuring out where to live<br>
      and what classes to take, Winston was created for you.
    </p>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div class="what-we-do-subsection">
          <div class="clear">
            <div class="subsection-column icon">
              <h4><i class="primary-color fas fa-hands-helping"></i></h4>
            </div>
            <div class="subsection-column body">
              <h4>Guidance</h4>
              <p>
                Get assistance, no matter what stage you're at, from our carefully vetted experts--all current students, alumni, or former admissions counselors from top universities.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="what-we-do-subsection">
          <div class="subsection-column icon">
            <h4><i class="primary-color fas fa-pen-alt"></i></h4>
          </div>
          <div class="subsection-column body">
            <h4>Application</h4>
            <p>
              Not feeling too confident with an essay or a personal statement? Let our experts take a second look. Or a third. Or a fourth. Let's get it right, together.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="what-we-do-subsection">
          <div class="subsection-column icon">
            <h4><i class="primary-color fas fa-search"></i></h4>
          </div>
          <div class="subsection-column body">
            <h4>Discovery</h4>
            <p>
              Let us help you find the right higher education institution for you--not what a ranking list says.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="what-we-do-subsection">
          <div class="subsection-column icon">
            <h4><i class="primary-color fas fa-question"></i></h4>
          </div>
          <div class="subsection-column body">
            <h4>Ask Anything</h4>
            <p>
              Navigating the college admissions process can be complicated. Winston makes it simple enpowering students to make decisions on every topic.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="meet-our-team light-gray">
  <div class="subheaders">
    <h3 class="section-titles">Meet our team</h3>
    <p class="section-text">Winston's advisors come from a wide variety of backgrounds and experiences, <br>
    and we are constantly working to find the best expert to meet your needs</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-4">
          <%= image_tag "harvard.png", class:"university" %>
        </div>
        <div class="col-lg-4">
          <%= image_tag "stanford.png", class:"university" %>
        </div>
        <div class="col-lg-4">
          <%= image_tag "northwestern.png", class:"university" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="col-lg-6">
          <%= image_tag "yale.png", class:"university" %>
        </div>
        <div class="col-lg-6">
          <%= image_tag "princeton.png", class:"university" %>
        </div>
      </div>
    </div>
  </div>

  <p class="center">Interested in offering your expertise? <%= link_to "Click here", new_expert_registration_path, class: "primary-color make-visible" %> to get more involved</p>
</div>


<div class="flexible-offerings white">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3 class="left-headers">Flexible Offerings</h3>
    <p class="section-text">Whether you're looking for some quick advice on 1-on-1 <br>
    counseling relationship, Winston has many options to meet <br>
    your needs. Sign up now to receive a customized quote or <br>
     <%= link_to "contact us", new_student_registration_path, class: "primary-color make-visible" %> to learn more</p>
    <%= link_to "SIGN UP NOW", new_student_registration_path, class: "btn btn-small btn-primary transparent-button" %>
  </div>
  <div class="col-sm-1"></div>
</div>

<div class="what-students-are-saying">
  <div class="subheaders">
    <h3 class="section-titles">What students are saying</h3>
      <h4>Learn how Winston can help</h4>
  </div>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm-3 student-testimonial">
        <span class="fa-stack fa-2x">
          <i class="fa fa-quote-left fa-stack-1x primary-color"></i>
        </span>
        <p class="student-quote">
          "Winston helped me build the confidence I was lacking. I would never
          have made it into Stanford without my advisor's help. They made the progress
          so easy and simple."
        </p>
        <div class="student-information">
          <p class="student-name">Ted Wang</p>
          <p>Student, Taiwan</p>
        </div>
      </div>

      <div class="col-sm-3 student-testimonial">
        <span class="fa-stack fa-2x">
          <i class="fa fa-quote-left fa-stack-1x primary-color"></i>
        </span>
        <p class="student-quote">
          "Winston helped me build the confidence I was lacking. I would never
          have made it into Stanford without my advisor's help. They made the progress
          so easy and simple."
        </p>
        <div class="student-information">
          <p class="student-name">Choodry C</p>
          <p>Student, Delhi</p>
        </div>
      </div>

      <div class="col-sm-3 student-testimonial">
        <span class="fa-stack fa-2x">
          <i class="fa fa-quote-left fa-stack-1x primary-color"></i>
        </span>
        <p class="student-quote">
          "Winston helped me build the confidence I was lacking. I would never
          have made it into Stanford without my advisor's help. They made the progress
          so easy and simple."
        </p>
        <div class="student-information">
          <p class="student-name">Sida Hsu</p>
          <p>Student, California</p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
</div>

<div class="get-started-today">
  <div class="subheaders">
    <h3 class="section-titles white">Get started today</h3>
    <p class="section-text white">Let Winston help you create a better, brighter future</p>
    <br/>
    <br/>
    <%= link_to "SCHEDULE YOUR FIRST CALL", new_student_registration_path, class: "btn btn-lg btn-primary transparent-button" %>
  </div>
</div>
