<div class="container">
  <h1>Please confirm your weekly availability</h1>
  <table>
    <thead>
      <tr>
        <% @daynames.each do |dayname| %>
          <th>
            <div class="center scheduler-header">
              <%= dayname %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% 24.times do |hour| %>
        <tr>
          <% 7.times do |day| %>
            <td>
              <% if @availabilities.include? "#{day}-#{hour}" %>
                <button type="button" class="btn btn-success scheduler-btn" id=<%= day %>-<%= hour %>>
                  <%= @hour_to_time_map[hour] %>
                </button>
              <% else %>
                <button type="button" class="btn btn-default scheduler-btn" id=<%= day %>-<%= hour %>>
                  <%= @hour_to_time_map[hour] %>
                </button>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>