<div class="container">
  <h1>Please confirm your weekly availability</h1>
  <h4>Select times you are available in YOUR local timezone. (e.g. if you are free at 5 PM in your local time, select 5 PM)</h4>
  <h4>Note: For individuals in SE Asia, the scheduling has the greatest chance of success if you have morning availability (~7AM-11AM in your local time)</h4>
  <br/>
  <table>
    <thead>
      <tr>
        <% @daynames.each do |dayname| %>
          <th>
            <div class="center scheduler-header">
              <%= dayname %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% 24.times do |hour| %>
        <tr>
          <% 7.times do |day| %>
            <td>
              <% if @availabilities.include? "#{day}-#{hour}" %>
                <button type="button" class="btn btn-success scheduler-btn" id=<%= day %>-<%= hour %>>
                  <%= @hour_to_time_map[hour] %>
                </button>
              <% else %>
                <button type="button" class="btn btn-default scheduler-btn" id=<%= day %>-<%= hour %>>
                  <%= @hour_to_time_map[hour] %>
                </button>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>


  </table>

  <a href="/survey" type="button" class="btn btn-secondary" role="button">
    🔙 Back to survey
  </a>

  <a href="/charges/new" type="button" class="btn btn-primary btn-lg" role="button">
    ✅ Submit your availability
  </a>
</div>
