<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css" media="screen">
    body {
      background-color: #333333;
      font-family: 'OpenSans', Arial, sans-serif;
      display: inline;
    }
    .img-container > div {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
    }
    .img-container > div > img {
      max-height: 180px;
    }
    .email-background {
      background: white;
      margin: 0 auto;
      width: 700px;
      margin-bottom: 4em;
    }
    .email-text {
      margin-left: 3%;
      margin-right: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    .welcome-text {
      color: #468266;
      font-family: 'OpenSans', 'Times New Roman', sans-serif;
    }
    .logo {
      background-color: white;
      text-align: center;
      margin: 0 auto;
      margin-top: 3%;
      width: 700px;
    }
    hr {
      width: 4em;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      margin-top: 2em;
    }
    .description {
      width: 200px;
    }
  </style>
</head>
<body>
  <div class="logo">
    <%= image_tag 'logo.png', style: "display: inline-block" %>
  </div>
  <div class="email-background">
    <%= image_tag 'email_background.jpg', style: "width: 100%; height: 280px;" %>
    <div class="email-text">
      <h1 class="welcome-text">Welcome <%= @user.first_name %>!</h1>
      <p>Thanks for trusting Winston with guiding you through your journey to higher education--you're in good hands!</p>
      <p>
        My name is <%= @concierge_name %> and I'm going to be your personal educational concierge throughout this process. I've received your initial survey responses and am starting to custom source experts for you now. Please expect a follow-up from me with specific profiles for you to select from in the next few days.
      </p>
      <p>
        In the meantime, if you'd like to get started right away, below are some of our best experts, ready to go. Let me know if any of their experiences sound helpful to you as you think about what you're looking for in this next step in life:
      </p>
      <div class="img-container">
        <div>
          <%= image_tag 'felisha.png' %>
          <p><b>Felisha Li</b></p>
          Cornell University<br/><br/><br/>
          <div class="description">
            Felisha is currently attending Cornell University, studying Biology, Neurobiology, and Behavior. When not in the lab doing research, she's been highly involved and impactful during her time on campus, serving as an official peer counselor for Cornell students, working in the Asian American resource center, and planning campus wide social and cultural events for the Chinese Student Association.
          </div>
        </div>
        <div>
          <%= image_tag 'ted.png' %>
          <p><b>Ted Wu</b></p>
          Northwestern University<br/><br/><br/>
          <div class="description">
            Ted is a recent graduate of Northwestern University and has worked at two startups already, one of which was recently acquired by Airbnb. At Northwestern, Ted was active in organizations all over campus, including the Northwestern Wildcat Welcome, Alpha Kappa Psi, and Camp Kesem, a non profit organization dedicated to helping kids who's parents have cancer.
          </div>
        </div>
        <div>
          <%= image_tag 'yash.png' %>
          <p><b>Yash Gupta</b></p>
          University of Southern<br/>California<br/><br/>
          <div class="description">
            Yash recently graded magna cum laude from USC and is now working in strategy consulting at BCG. While at USC, he served as the head of multiple campus organizations, including as the president of the Marshall Business Student Government, and founded his own nonprofit called Sight Learning focused on providing glasses for the needy.
          </div>
        </div>
      </div>

      <hr>

      <p>
        And as always, don't hesitate to reach out directly to me if you have any questions or would like to narrow down your expert specifications.
      </p>
      <p>Everybody's path to higher education is slightly different, and that's perfectly okay. It's our job here at Winston to make sure you receive the most customized, curated, and insightful experience possible to get all of your questions and concerns addressed ahead of some really tough decisions in your life. Over the next few weeks we're going to do exactly that.</p>
      <p>Not for anyone else, but for you. Let's get to work!</p>
      <p>
        Best,<br/>
        <%= @concierge_name %>
      </p>
    </div>
  </div>
</body>
</html>
