<!-- Navigation -->
<!-- Hack to do this -->

<% if controller.params[:action] != "home"%>
<div class="main-navbar">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <nav>
      <a href="/" class="no-url-effect">
        <span class="navbar-brand logo">
            <i class="fa fa-graduation-cap primary-color"></i>Winston
        </span>
      </a>


      <ul class="nav navbar-nav navbar-right">
        <% if student_signed_in? %>
          <li><%= link_to "Account Settings", edit_student_registration_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_student_session_path, method: :delete %></li>
        <% elsif expert_signed_in? %>
          <li><%= link_to "Account Settings", edit_expert_registration_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_expert_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_student_session_path %></li>
          <li><%= link_to "Sign up", new_student_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div class="col-sm-1"></div>
<%end%>
